// Place all the styles related to the Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fileinput-button{
  position: relative !important;
}
.file_input {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
}

.preview{
  img{
    width: 60px;
    height: 40px;
    margin: 5px;
    display: inline-block !important;
  }
}
